@import "tailwindcss";

@config './tailwind.config.ts';

:root {
    --brand: oklch(0.674 0.19 293);
    --brand-second: oklch(0.818 0.127 223);
    --highlight: oklch(0.65 0.18 240);

    --text-disable: oklch(0.788 0.017 263);
    --text-lighter: oklch(0.788 0.017 263);
    --text-light: oklch(0.569 0.015 285.906);
    --text: oklch(0.204 0.035 248.334 / 0.9);
    --text-dark: oklch(0.204 0.035 248.334);
    --text-darker: oklch(0 0 0);
    --text-icon: oklch(0.204 0.035 248.334 / 0.9);
    --text-primary: oklch(0.547 0.158 288);

    --bg-lighter: oklch(1 0 90);
    --bg-light: oklch(0.977 0.002 248);
    --bg: oklch(0.96 0.003 265);
    --bg-dark: oklch(0.904 0.008 262);
    --bg-darker: oklch(0.6 0.033 260);

    --muted-lighter: oklch(0.97 0.008 286.193);
    --muted-light: oklch(0.945 0.011 286.193);
    --muted: oklch(0.963 0.007 286.274);
    --muted-dark: oklch(0.96 0.02 289.084);
    --muted-darker: oklch(0.92 0.025 286.193);

  --primary-lighter: oklch(0.961 0.021 295);
  --primary-light: oklch(0.705 0.138 290);
  --primary: oklch(0.547 0.158 288);
  --primary-dark: oklch(0.334 0.092 288);
  --primary-darker: oklch(0.289 0.043 291);
  --primary-foreground: oklch(0.984 0.014 209);

    --secondary-lighter: oklch(0.90 0.12 240);
    --secondary-light: oklch(0.80 0.15 240);
    --secondary: oklch(0.65 0.18 240);
    --secondary-dark: oklch(0.50 0.18 240);
    --secondary-darker: oklch(0.35 0.20 240);

    --danger-lighter: oklch(0.957 0.021 21);
    --danger-light: oklch(0.71 0.167 26);
    --danger: oklch(0.556 0.185 29);
    --danger-dark: oklch(0.33 0.091 27);
    --danger-darker: oklch(0.294 0.05 26);

    --success-lighter: oklch(0.971 0.041 169);
    --success-light: oklch(0.764 0.14 162);
    --success: oklch(0.547 0.112 160);
    --success-dark: oklch(0.371 0.068 162);
    --success-darker: oklch(0.293 0.034 165);

    --warning-lighter: oklch(0.974 0.043 95);
    --warning-light: oklch(0.785 0.16 89);
    --warning: oklch(0.645 0.132 85);
    --warning-dark: oklch(0.379 0.075 88);
    --warning-darker: oklch(0.298 0.032 96);

    --info-lighter: oklch(0.962 0.018 257);
    --info-light: oklch(0.695 0.161 257);
    --info: oklch(0.541 0.206 259);
    --info-dark: oklch(0.329 0.111 258);
    --info-darker: oklch(0.284 0.045 258);

    --overlay-lighter: oklch(0.245 0.075 261 / 0.03);
    --overlay-light: oklch(0.245 0.075 261 / 0.06);
    --overlay: oklch(0.245 0.075 261 / 0.31);
    --overlay-dark: oklch(0.245 0.075 261 / 0.31);
    --overlay-darker: oklch(0.245 0.075 261 / 0.49);
    --orange-lighter: oklch(0.971 0.017 56);

    --orange-light: oklch(0.855 0.091 57);
    --orange: oklch(0.51 0.14 48);
    --orange-dark: oklch(0.39 0.106 48);
    --orange-darker: oklch(0.296 0.029 57);

    --magenta-lighter: oklch(0.959 0.028 339);
    --magenta-light: oklch(0.792 0.136 343);
    --magenta: oklch(0.495 0.134 345);
    --magenta-dark: oklch(0.334 0.074 345);
    --magenta-darker: oklch(0.297 0.048 344);

    --avatar-green-light: oklch(0.712 0.163 129);
    --avatar-red: oklch(0.666 0.186 27);
    --avatar-orange: oklch(0.734 0.154 53);
    --avatar-yellow: oklch(0.728 0.148 87);
    --avatar-green-dark: oklch(0.704 0.148 160);
    --avatar-blue-dark: oklch(0.714 0.113 224);
    --avatar-blue: oklch(0.647 0.19 258);
    --avatar-purple: oklch(0.655 0.153 289);
    --avatar-pink: oklch(0.666 0.172 345);
    --avatar-gray: oklch(0.904 0.008 262);


    --accent: oklch(0.968 0.007 248);
    --accent-foreground: oklch(0.208 0.04 266);
    --ring: oklch(0.943 0.006 265);

    /*  chart*/
    --chart-1: oklch(0.677 0.157 35);
    --chart-2: oklch(0.631 0.101 183);
    --chart-3: oklch(0.379 0.044 226);
    --chart-4: oklch(0.834 0.119 88);
    --chart-5: oklch(0.783 0.126 59);

    --radius: 0.5rem;

    --apps-header-height: 3.5rem;
    --apps-main-height: calc(100dvh - 3.5rem);
    --header-height: 4rem;
    --header-height-bottom-sheet: 3rem;
    --main-height: calc(100dvh - 4rem);
    --side-width: 15rem;
    --side-width-collapse: 3.5rem;

    --spacing-form-label: 0.5rem;
    --spacing-form-padding: 1.5rem;
    --spacing-gap-form: 0.8rem;
    --spacing-element-height: 2rem;
}

.dark {
    --text-disable: oklch(0.683 0.03 250);
    --text-lighter: oklch(0.715 0.035 250);
    --text-light: oklch(0.807 0.023 250);
    --text: oklch(0.835 0.013 244);
    --text-dark: oklch(0.906 0.007 244);
    --text-darker: oklch(1 0 90);
    --text-icon: oklch(0.835 0.013 244);

    --bg-lighter: oklch(0.215 0.009 241);
    --bg-light: oklch(0.246 0.01 248);
    --bg: oklch(0.268 0.011 243);
    --bg-dark: oklch(0.317 0.016 248);
    --bg-darker: oklch(0.6 0.033 260);

    --muted-lighter: oklch(0.16 0.004 285.885);
    --muted-light: oklch(0.259 0.011 285.594);
    --muted: oklch(0.259 0.011 285.594);
    --muted-dark: oklch(0.315 0.02 289.395);
    --muted-darker: oklch(0.454 0.036 284.893);

  --primary-lighter: oklch(0.289 0.043 291);
  --primary-light: oklch(0.547 0.158 288);
  --primary: oklch(0.705 0.138 290);
  --primary-dark: oklch(0.9 0.05 294);
  --primary-darker: oklch(0.961 0.021 295);

    --danger-lighter: oklch(0.294 0.05 26);
    --danger-light: oklch(0.556 0.185 29);
    --danger: oklch(0.71 0.167 26);
    --danger-dark: oklch(0.906 0.048 23);
    --danger-darker: oklch(0.957 0.021 21);

    --success-lighter: oklch(0.293 0.034 165);
    --success-light: oklch(0.547 0.112 160);
    --success: oklch(0.764 0.14 162);
    --success-dark: oklch(0.371 0.068 162);
    --success-darker: oklch(0.971 0.041 169);

    --warning-lighter: oklch(0.298 0.032 96);
    --warning-light: oklch(0.645 0.132 85);
    --warning: oklch(0.785 0.16 89);
    --warning-dark: oklch(0.924 0.091 96);
    --warning-darker: oklch(0.974 0.043 95);

    --info-lighter: oklch(0.284 0.045 258);
    --info-light: oklch(0.541 0.206 259);
    --info: oklch(0.695 0.161 257);
    --info-dark: oklch(0.902 0.047 258);
    --info-darker: oklch(0.962 0.018 257);

    --overlay-lighter: oklch(0.215 0.009 241 / 0.04);
    --overlay-light: oklch(0.246 0.01 248 / 0.08);
    --overlay: oklch(0.268 0.011 243 / 0.16);
    --overlay-dark: oklch(0.317 0.016 248 / 0.28);
    --overlay-darker: oklch(0.6 0.033 260 / 0.5);

    --orange-lighter: oklch(0.296 0.029 57);
    --orange-light: oklch(0.51 0.14 48);
    --orange: oklch(0.855 0.091 57);
    --orange-dark: oklch(0.92 0.046 56);
    --orange-darker: oklch(0.971 0.017 56);

    --magenta-lighter: oklch(0.297 0.048 344);
    --magenta-light: oklch(0.495 0.134 345);
    --magenta: oklch(0.792 0.136 343);
    --magenta-dark: oklch(0.9 0.064 341);
    --magenta-darker: oklch(0.959 0.028 339);

    --avatar-green-light: oklch(0.712 0.163 129);
    --avatar-red: oklch(0.666 0.186 27);
    --avatar-orange: oklch(0.734 0.154 53);
    --avatar-yellow: oklch(0.728 0.148 87);
    --avatar-green-dark: oklch(0.704 0.148 160);
    --avatar-blue-dark: oklch(0.714 0.113 224);
    --avatar-blue: oklch(0.647 0.19 258);
    --avatar-purple: oklch(0.655 0.153 289);
    --avatar-pink: oklch(0.666 0.172 345);
    --avatar-gray: oklch(0.317 0.016 248);

    /*  chart*/
    --chart-1: oklch(0.529 0.193 262);
    --chart-2: oklch(0.698 0.134 165);
    --chart-3: oklch(0.723 0.15 61);
    --chart-4: oklch(0.619 0.204 313);
    --chart-5: oklch(0.612 0.209 6);
}

@utility container-lg {
    @apply mx-auto flex w-full max-w-[1136px] flex-col gap-6;
}
@utility container-sm {
    @apply mx-auto flex w-full max-w-3xl flex-col gap-6;
}
@utility row {
    @apply flex items-center;
}
@utility col {
    @apply flex flex-col;
}
@utility spacing-row {
    @apply flex items-center justify-between;
}
@utility centered-row {
    @apply flex items-center justify-center;
}
@utility centered-col {
    @apply flex flex-col items-center justify-center;
}
@utility center-position {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}
@utility form-padding {
    @apply p-form-padding;
}
@utility h-header {
    height: var(--header-height);
    min-height: var(--header-height);
}
@utility max-h-page {
    max-height: var(--main-height);
}
@utility max-h-apps-page {
    max-height: var(--apps-main-height);
}

@utility vr {
    @apply bg-separator mx-1 h-full w-[1px];
}

@utility hr {
    @apply bg-separator my-1 h-[1px];
}

@utility error {
    @apply text-danger ms-2 text-sm;
}

@utility blur-overlay {
    @apply bg-overlay-light backdrop-blur-sm;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--bg-dark, currentcolor);
    }
}

.hidden-scrollbar {
    scrollbar-width: none;
}

/* Customize scrollbar for text in chatbot because the textAutoresize dose not have a scrollbar !!! */
::-webkit-scrollbar {
    width: 4px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background: #f1f1f190;
    width: 5px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background: #a4a4a4;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}

.text-gradiant {
    display: flex;
    align-items: baseline;
    background: linear-gradient(to right, var(--highlight), var(--brand), var(--primary));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
}

.responsive-dialog {
    @apply max-md:top-auto! max-md:bottom-0! max-md:translate-y-0! max-md:!rounded-b-none;
}

.responsive-dialog-sm {
    @apply max-sm:!top-auto max-sm:!bottom-0 max-sm:max-w-full max-sm:!translate-y-0 max-sm:!rounded-b-none;
}

@keyframes gradient-shift {
    0%,
    100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

.bg-gradient-animated {
    background: linear-gradient(270deg, var(--primary-light), var(--primary), var(--secondary), var(--secondary-dark));
    background-size: 400% 400%;
    animation: gradient-shift 8s ease infinite;
}

.text-base {
    line-height: 1.25;
}