/* app/styles/nprogress.css */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: hsl(256, 78%, 69%); /* 💜 رنگ بنفش */
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  opacity: 0;
  animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

#nprogress .spinner {
  display: none; /* حذف spinner */
}
