.excalidraw {
  .layer-ui__wrapper.animate {
    transition: width 0.1s ease-in-out;
  }
  .layer-ui__wrapper {
    // when the rightside sidebar is docked, we need to resize the UI by its
    // width, making the nested UI content shift to the lesft. To do this,
    // we need the UI container to actually have dimensions set, but
    // then we also need to disable pointer events else the canvas below
    // wouldn't be interactive.
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: var(--zIndex-layerUI);

    &__top-right {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      gap: 0.75rem;
      padding-inline-start: 3rem;
      pointer-events: none !important;

      &--compact {
        gap: 0.5rem;
      }

      & > * {
        pointer-events: var(--ui-pointerEvents);
      }
    }

    &__footer {
      width: 100%;

      &-right {
        z-index: 100;
        display: flex;
      }
    }

    .zen-mode-transition {
      transition: transform 0.3s ease-in-out;

      &.transition-top {
        transform: translate(0, -56px);
      }

      :root[dir="ltr"] &.transition-left {
        transform: translate(-500px, 0);
      }

      :root[dir="ltr"] &.transition-right {
        transform: translate(500px, 0);
      }

      :root[dir="rtl"] &.transition-left {
        transform: translate(999px, 0);
      }

      :root[dir="rtl"] &.transition-right {
        transform: translate(-999px, 0);
      }

      &.layer-ui__wrapper__footer-left--transition-bottom {
        transform: translateY( 92px);
      }

      &.wrapper__footer--transition-bottom {
        transform: translateY( 52px);
      }
    }

    .disable-zen-mode {
      padding: 10px;
      position: absolute;
      bottom: 0.75rem;
      [dir="ltr"] & {
        right: 0.75rem;
      }
      [dir="rtl"] & {
        left: 0.75rem;
      }
      opacity: 0;
      visibility: hidden;
      transition:
              visibility 0s linear 0s,
              opacity 0.5s;

      font-family: var(--ui-font), serif;
      font-size: 0.75rem;
      font-weight: 500;
      line-height: 1;

      border-radius: var(--border-radius-lg);
      border: 1px solid var(--default-border-color);
      background-color: var(--island-bg-color);
      color: var(--text-primary-color);

      &:hover {
        background-color: var(--button-hover-bg);
      }
      &:active {
        border-color: var(--color-primary);
      }

      &--visible {
        opacity: 1;
        visibility: visible;
        transition:
                visibility 0s linear 300ms,
                opacity 0.5s;
        transition-delay: 0.8s;

        pointer-events: var(--ui-pointerEvents);
      }
    }

    .layer-ui__wrapper__footer-left,
    .footer-center,
    .layer-ui__wrapper__footer-right {
      & > * {
        pointer-events: var(--ui-pointerEvents);
      }
    }

    .layer-ui__wrapper__footer-right {
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  .selected-shape-actions-container--left {
    .App-menu__left {
      position: relative;
      left: 0;
      top: 0;
    }

    .selected-shape-actions {
      position: relative;
    }
  }
}
