@use "open-color/open-color.scss" as *;
@use "../css/variables.module.scss" as *;

.excalidraw {
  .App-toolbar {
    &.zen-mode {
      .ToolIcon__keybinding,
      .HintViewer {
        display: none;
      }
    }

    &--compact {
      .ToolIcon__keybinding {
        display: none;
      }

      .App-toolbar__divider {
        margin: 2px auto;
      }
    }

    &--left {
      flex-direction: column;

      .Stack_Col {
        flex-direction: column;
      }
    }

    &__divider {
      width: 1px;
      height: 1.5rem;
      align-self: center;
      background-color: var(--default-border-color);
      margin: auto 0;

      &--horizontal {
        width: 1.5rem;
        height: 1px;
        margin: 0 auto;
      }

      @include isMobile {
        margin: 0;

        &--horizontal {
          width: 1px;
          height: 1.5rem;
          margin: 0;
        }
      }
    }
  }

  .App-toolbar__extra-tools-trigger {
    box-shadow: none;
    border: 0;
    background-color: transparent;

    &:active {
      background-color: var(--button-hover-bg);
      box-shadow: 0 0 0 1px
      var(--button-active-border, var(--color-primary-darkest)) inset;
    }

    &:hover {
      background-color: transparent;
    }

    &--selected,
    &--selected:hover {
      background: var(--color-primary-light);
      color: var(--color-primary);
    }
  }

  .App-toolbar__extra-tools-dropdown {
    position: absolute;
    margin-top: 0;
    margin-left: 0.375rem;
    left: 100%;
    top: auto;
    bottom: 0;
    right: auto;
    min-width: 11.875rem;
    z-index: 1;
  }

  @include isMobile {
    .App-toolbar__extra-tools-dropdown {
      position: absolute;
      margin-top: 0.375rem;
      margin-left: 0;
      left: auto;
      right: 0;
      top: auto;
      bottom: 40px;
    }
  }
}
