# .github/workflows/main_production.yml
name: CI/CD Pipeline for production Branch for indox router

on:
  push:
    branches: ["production"]

permissions:
  contents: write

env: # Global environment variables
  BRANCH_NAME: ${{ github.ref_name }}

jobs:
 ######################## validate-pr-source:########################
  # enforce_pr_flow:
  #   uses: ./.github/workflows/enforce_pr_flow.yml
  #   secrets: inherit

  ######################## Setup Job ########################
  setup:
    uses: ./.github/workflows/setup_production.yml
    secrets: inherit

  ######################## Build and Run Docker Job ########################
  docker_build_and_run:
    uses: ./.github/workflows/build_production.yml
    needs: setup
    secrets: inherit


  # ############### Docker Clean up ########################
  cleanup:
    uses: ./.github/workflows/cleanup.yml
    needs: [setup , docker_build_and_run]
    secrets: inherit



  # # ######################## Tag Job ########################
  tag_and_release:
    needs: [setup,docker_build_and_run ,cleanup]
    uses: ./.github/workflows/tag_and_release.yml
    secrets: inherit



    