name: Production CI/CD Pipeline for Nemati AI for production Branch

on:
  workflow_call:
    inputs:
      environment:
        required: false
        type: string

permissions:
  contents: write

env:
  BRANCH_NAME: ${{ github.ref_name }}

jobs:
  deploy-production:
    runs-on: [self-hosted, frontend_pencilly_us]
    environment: production
    steps:
      - name: Update, upgrade, dist-upgrade, and autoremove system packages
        run: |
          echo "::group::Updating and upgrading system packages"
          sudo apt-get update -y
          sudo apt-get upgrade -y
          sudo apt-get dist-upgrade -y
          sudo apt-get autoremove -y
          echo "::endgroup::"

      - name: Checkout Repository into ./<branch>
        uses: actions/checkout@v4
        with:
          path: "./${{ github.ref_name }}"

      - name: Set Variables and Print Info
        run: |
          BRANCH="${GITHUB_REF_NAME}"
          REPO="${GITHUB_REPOSITORY##*/}"

          CHECKOUT_PATH="${GITHUB_WORKSPACE}/${BRANCH}"

          echo "Branch: $BRANCH"
          echo "Repository: $REPO"
          echo "Checkout path: $CHECKOUT_PATH"

          echo "BRANCH=$BRANCH" >> $GITHUB_ENV
          echo "REPO=$REPO" >> $GITHUB_ENV
          echo "TARGET_FOLDER_PRODUCTION=$CHECKOUT_PATH" >> $GITHUB_ENV

      - name: Remove Existing .env.production File (if exists)
        run: |
          echo "::group::Removing existing .env.production file in branch folder"
          ENV_PATH="$TARGET_FOLDER_PRODUCTION/.env.production"
          echo "Looking for .env.production at: $ENV_PATH"
          if [ -f "$ENV_PATH" ]; then
            rm "$ENV_PATH"
            echo "✅ Removed old .env.production"
          else
            echo "ℹ️ .env.production does not exist, skipping removal"
          fi
          echo "::endgroup::"

      - name: Create .env.production in shared folder
        run: |
          ENV_PATH="$TARGET_FOLDER_PRODUCTION/.env.production"

          cat > "$ENV_PATH" << 'EOF'
          ################################################################################
          VITE_API_URL=${{ secrets.VITE_API_URL }}
          VITE_SITE_URL=${{ secrets.VITE_SITE_URL }}

          #The port to run the dev server
          VITE_PORT=${{ secrets.VITE_PORT }}
          ################################################################################

          EOF
          echo "✅ Created .env.production file at: $ENV_PATH"
